<launch>
  <arg name="world" default="$(find rover_gazebo)/worlds/empty.world" />
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world)" />
  </include>
  <param name="robot_description" command="$(find xacro)/xacro $(find rover_description)/urdf/rover_full.urdf.xacro" />
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_rover" args="-param robot_description -urdf -model rover"/>
</launch>
